.content
  color: black
  //overflow: auto
  z-index: 1
  height: 100%
  flex: 1
  transform: translateX(0)
  transition: transform .3s
  //overflow-x: hidden
  &.open
    transform: translateX(200px)

.page-wrap
  margin: 0 auto
  padding: 10px 10px 10px
  box-shadow: 0 0 40px 15px rgba(0,0,0,0.75)
  height: 100%
  width: 80%
  background: #fff
  right: 0
  left: 0
  //position: static
  color: #333
  font: 1.5rem $sans
  //overflow: hidden
  hypens: auto
  @media (max-width: 600px)
    padding: 0 10px 10px
    width: 100%
    //float: center
    font-size: 1.5rem

.text
  hypens: auto
  white-space: pre-line

code, .code
  hypens: auto
  white-space: pre-wrap
  display: block
  background: rgba(243,243,243,0.5)
  color: #666
  padding: 0.5rem 1rem
  margin: 1.5rem 1.5rem
  //margin-bottom: 1rem
  line-height: 140%
  //z-index: 3
  border-left: .2rem solid #9b4dca
  font: 95% $code
  hypens: auto
  //width: 50%
  //height: 1%
  //clear: both
  //overflow: hidden
  /*@media (max-width: 900px)
    font: 0.8em $code*/
  
.navigation
  margin: 0 auto
  width: 70%
  //float: center
  height: 40px
  text-align: center
  z-index: 9000
  position: fixed
  bottom: 0
  background: #fff
  color: #000
  //border: 1px solid #000
  left: 0
  right: 0
  font: 13pt $sans
  //box-shadow: 0 0 80px 5px rgba(0,0,0,0.75)
  box-shadow: 0 0 10px #000
  & a
    padding: 4px 4px
    //margin: 10px 10px 10px
  & a:first-child
    padding-left: 0
  & a:last-child
    padding-right: 0
