
@font-face
  font-family: "Iosevka"
  font-style: normal
  font-weight: 400
  src: local('Iosevka'), url('/assets/fonts/iosevka.woff2'), url('/assets/iosevka.ttf')

@font-face
  font-family: "Iosevka Slab"
  font-style: normal
  font-weight: 400
  src: local('Iosevka Slab'), local('Iosevka-Slab'), url('/assets/fonts/iosevka-slab.woff2'), url('/assets/fonts/iosevka-slab.ttf')