include ../mixins.jade
.tittle
  h2 Hello
.links
  +social('github', '//github.com/yogurt1')
  +social('instagram', '//instagram.com/samiyklass1')
  +social('twitter', '//twitter.com/samiyklass1')
  +social('email', 'mailto:stalinswag1@gmail.com')
  