//include mixins.jade
doctype html
html(lang="ru")
  head
    title yogurt1
    link(href="assets/all.css", rel="stylesheet")
    link(href="assets/styles", rel="stylesheet")
    
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
  
  body

    //+topmenu()
    h1 Test
    script(src="assets/all.js")
    script(src="assets/bundle.js")
    