//include mixins.jade
doctype html
html(lang="ru")
  head
    title yogurt1
    //link(href="assets/all.min.css", rel="stylesheet")
    link(href="assets/all.css", rel="stylesheet")
    
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
  
  body
    //+topbar()
    nav.nav-pills: ul
      each n in [1, 2, 3]
        li: a(href=i) link#{i}
    .container-fluid(style="padding-top: 20px;"): #app
    //script(src="assets/all.min.js")
    script(src="assets/bundle.js")
    